.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      color: green;
      background-color: rgba(0, 128, 0, 0.151);
    }
    &.Failed {
      padding: 5px 20px ;
      color: rgb(218, 32, 32);
      background-color: rgba(214, 214, 6, 0.103);
    }
    &.Proccessing {
      padding: 5px 5px ;
      color: rgb(255, 255, 255);
      background-color: rgba(2, 92, 55, 0.562);
    }
  }
}
